@font-face {
    font-family: lova;
    src: url(Lova\ Power\ -\ \(Demo\)\ hanscostudio.com.ttf);
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.dropdown{
    color: #EA4E1D;
}

.dropdown-item{
    color: #EA4E1D;
    background-color: #000000;
}

.dropdown-item:hover{
    color: #000000;
    background-color: #EA4E1D;
}


.search-pos{
    position: absolute;
    right: 1%;
}

.search-box{
    border: #EA4E1D; 
    }

.btn-search{
    background-color: #EA4E1D;
    color: #000000;
    border: none;
}

.btn-search:hover{
    background-color: #000000;
    color: #EA4E1D;
    border: #EA4E1D;
}

.nav-title{
    color: #EA4E1D;
    margin-left: auto;
    margin-right: auto;
    font-family: lova;
    font-size: 300%;
}














.home{
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 80px;
    left: 50px;
    font-size: 650%;
    color: #EA4E1D;
    font-family: 'lova power', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.btn-home{
    position: absolute;
    bottom: 120px;
    right: 50px;
    color: #EA4E1D;
    background-color: #000000;
    border: #000000;
    border-radius: 10px;
}

.btn-home:hover{
    background-color: #EA4E1D;
    color: #000000;
    border-radius: 10px;
}

.container-fluid{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}



























.img-back{
    background-image: url(IMAGES/bleach\ grdient-02.png);
}

.form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%; 
}

.contact{
    background-color: #000000; 
    border-radius: 40px; 
    padding: 4%;
    margin-top: 12%;
}


.legend{
    font-size: 300%;
    font-family: lova, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #EA4E1D;
}

.labels{
    font-size: 200%;
    color: #EA4E1D;
    font-family: lova;
    margin-top: 1%;
}

.input-cp{
    width: 100%;
    margin-bottom: 1%;
}














.prod-header{
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    font-family: lova;
}

